<!DOCTYPE html>
<html lang="en">
<head>
  <title>Input Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="http://localhost:4000/css/style.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- navbar -->
    <%- include('partials/navbar') %>
    <!--navbar end-->
	<h1>Admin dashboard</h1>

    <h2>Users</h2>
	<table style="border: 1px solid black; border-collapse: collapse;">
	<% for (let user of users) { %>
		<tr>
			<td style="border: 1px solid black;"><%= user.dataValues.name %></td>
			<td style="border: 1px solid black;"><%= user.dataValues.email %></td>
		</tr>
	<% } %>
	</table>

    <h2>Fields</h2>
	<table style="border: 1px solid black; border-collapse: collapse;">
	<% for (let field of fields) { %>
		<tr>
			<td style="border: 1px solid black;"><%= field.dataValues.address %></td>
			<td style="border: 1px solid black;"><%= field.dataValues.size %></td>
		</tr>
	<% } %>
	</table>

    <h2>Soil Entries</h2>
	<table style="border: 1px solid black; border-collapse: collapse;">
	<% for (let soil of soilEntries) { %>
		<tr>
			<td style="border: 1px solid black;"><%= soil.dataValues.pH %></td>
			<td style="border: 1px solid black;"><%= soil.dataValues.nitrate %></td>
		</tr>
	<% } %>
	</table>
</body>
</html>