<!---Sidenav pulled from https://www.codinglabweb.com/2021/06/dropdown-sidebar-menu-html-css.html and edited-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/sidenav.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- navbar -->
    <%- include('partials/navbar') %>
    <!--navbar end-->

    <!--go to https://boxicons.com to find icons and click where it says fonts for the <i class=''></i> (icon)-->
    <%- include('partials/sidenav') %>

    <div class="content">
      <div class="dashboard-parent">
        <section>
          <h1><%= user.charAt(0).toUpperCase() + user.slice(1) %>'s Dashboard</h1><br>

        </section>
        <section>
          
          <h2>My Fields:</h2>
          <table class="fieldTable">
            <tr>
              <th>Address</th>
              <th>Acreage</th>
            </tr>
            <tr>
              <% if (typeof(fields) !== undefined) { %>
                <% for (let field of fields) { %>
                <tr>
                  <td> <%= field.address %></td>
                  <td> <%= field.size %> </td>
                </tr>
                <% } %>
              
              <% } %>
          </table>
        </section>
        <section>
          cmxvc vcvxc   m,.cv ,.xcv m,.xcvc v .,xcv ,.cv ,.v .,v m.xcv m,.xcv ,.xcv .,cv m,.cv m,.xc ,.v c,. n.zxcnxc nczx n.zxc
        </section>
        <section>
           rghpguorio j gjioj avpjoav jiov nvaaj vc vjn pdvk mk dpaad pkoad pmkdad pmkd pk nvk nv pnl pnklad pmklawd mkld mkl
        </section>
      </div>
    </div>

    

</body>
</html>